body {

font-family: Arial, sans-serif;

color:  #000066;

background-color: #E7DDFF;

margin: 20px;

padding: 20px;

line-height: 1.6;

header {

background-color: #000066;

color: white;

padding: 20px;

text-align: Center;

}


header h1 {

margin: 0;

}


nav a {

color: white;

text-decoration: none;

margin: 0 10px;

}

 nav a:hover {

text-decoration: ;

   main {

padding: 20px;

max-width: 800px;

margin: 0 auto;

}


main img {

max-width: 20%;

height: 20%;

display: inline-block;

margin: 5px 0;

footer {

background-color: #A000066;

color: white;

text-align: center;

padding: 10px;

position: fixed;

bottom: 0;

width: 100%;

}

p {

font-size: 1.1em;

}


a {

color: #000066;

text-decoration: none;

}


a:hover {

text-decoration: underline;

}

img {

border: 5px solid #000066;

border-radius: 10px;

}

  
main a[href^="mailto:"] {

color: white;

font-weight: bold;

background-color: #E7DDFF

}
